section{
    height: 90vh;
    background-image: url("./../../../assets/background.jpg");
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
}
.slogan{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

h1, h3{
    color: white;
}
